<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">To</span>
        <span class="icon-bar">al</span>
        <span class="icon-bar">wo</span>
        <span class="icon-bar">famouz</span>
      </button>
      <a class="navbar-brand" href="">Renzi Megic English</a>
    </div>


 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href= "pagine/DubsmashKontexxt"> dubsmash kontexxt </a> </li> 
        <li><a href="pagine/alfabbet">Alfabbet</a></li>
        <li><a href="pagine/wordz">Wordz</a></li>
        <li><a href="pagine/frasiIncredibbol">frasi incrediboll</a></li>  
         <li><a href="pagine/galleri_ov_faces"</a></li> 
         <li><a href="pagine/MaiVideos">mai videos</a></li> 
      </ul>
  

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
<tbody>
 